.header__lang-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  padding: 0;
  margin-top: 14px;
}
@media screen and (max-width: 700px) {
.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  }
}