.header__lang-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
  padding: 0;
  margin-top: 14px;
}
.header__lang-link_active {
  text-decoration: underline;
  color: #FFFFFF;
  margin: 0 12px 0 0; 
}
.header__lang-link_en {
  color: #FFFFFF;
  margin: 0 48px 0 0;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
.header__lang-link_active {
  margin: 0 14px 0 0;
  }
.header__lang-link_en {
  margin: 0 21px 0 0;
  }
}
@media screen and (max-width: 700px) {
.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  }
.header__lang-link_active {
  margin: 0 14px 0 0;
  }
.header__lang-link_en {
  margin: 0 16px 0 0;
  }
}