.header__lang-link {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    padding: 0;
    color: #FFFFFF;
    margin: 0 48px 0 12px;
    text-decoration: none;
}

.header__lang-link:first-of-type {
    margin: 0 0 0 18px;
}

.header__lang-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        margin: 0 21px 0 14px;
    }
}

@media screen and (max-width: 700px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin: 0 16px 0 18px;
    }
}