.place__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 460px;
  grid-area: title;
  align-self: end;
  margin: 0 0 48px 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
.place__title {
  max-width: 440px;
  margin: 0 0 48px 17px;
  }  
}
@media screen and (max-width: 768px) {
.place__title {
  font-size: 42px;
  line-height: 46px;
  margin-left: 12px;
  }  
}
@media screen and (max-width: 700px) {
  .place__title {
  font-size: 32px;
  line-height: 35px;
  margin-left: 16px;
  margin-bottom: 29px;
  }  
}