.intro__lists {
    list-style-type: none;
    margin: 33px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .intro__lists {
        margin-top: 38px;
    }
}

@media screen and (max-width: 700px) {
    .intro__lists {
        margin-top: 34px;
    }
}