.place__paragraph_text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 484px;
    grid-area: paragraph;
  }
  .place__paragraph_text:first-of-type {
      margin-bottom: 25px;
  }
  @media screen and (max-width: 1024px) {
  .place__paragraph_text {
    max-width: 484px;
    }
  }
  @media screen and (max-width: 768px) {
  .place__paragraph_text {
    font-size: 16px;
    line-height: 26px;  
    max-width: 352px;  
    }
  }
  @media screen and (max-width: 700px) {
  .place__paragraph_text {
    max-width: 284px;  
    }
  .place__paragraph_text:first-of-type {
      margin-bottom: 31px;
    }
  }