.place__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: max-content;
    grid-area: paragraph;
}

.place__text:first-of-type {
    margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
    .place__text {
        max-width: 484px;
    }
}

@media screen and (max-width: 880px) {
    .place__text {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 700px) {
    .place__text {
        max-width: 284px;
    }
    .place__text:first-of-type {
        margin-bottom: 31px;
    }
}