.footer__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 14px 0 0;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .footer__link {
        margin-top: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}