.header__lang-link_active {
  text-decoration: underline;
  color: #FFFFFF;
  margin: 0 12px 0 0; 
}
@media screen and (max-width: 768px) {
.header__lang-link_active {
  margin: 0 14px 0 0;
  }
}
@media screen and (max-width: 700px) {
.header__lang-link_active {
  margin: 0 14px 0 0;
  }
}