.place__paragraph {
  margin-left: 40px;
}
@media screen and (max-width: 1024px) {
.place__paragraph {
  margin-left: 29px;
  }
}
@media screen and (max-width: 768px) {
.place__paragraph {
  margin-left: 42px;
  }
}

@media screen and (max-width: 700px) {
.place__paragraph {
  margin-left: 16px;
  margin-top: 33px;
  }
}
