.lead__image {
    max-width: 984px;
    max-height: 615px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 90%;
        max-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
    }
}

@media screen and (max-width: 700px) {
    .lead__image {
        margin: 0 2px;
    }
}