.intro__text {
    max-width: 690px;
    max-height: max-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .intro__text {
        line-height: 26px;
    }
}