.lead__subtitle {
    max-width: 620px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto 62px auto;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 59px;
    }
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 41px;
    }
}