.cover {
  max-width: 1184px;
  max-height: 740px;
  margin: 92px auto 82px;
  position: relative;
}
@media screen and (max-width: 1024px) {
.cover {
  margin-bottom: 78px;
  }
}
@media screen and (max-width: 768px) {
.cover {
  margin-top: -16px;
  margin-bottom: 76px;
  }
}
@media screen and (max-width: 700px) {
.cover {
  margin-bottom: 29px;
  margin-top: -33px;
  }
}
 

