.cover {
    width: 100%;
    margin: 92px auto 82px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-bottom: 78px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 90px;
        margin-top: 64px;
    }
}

@media screen and (max-width: 700px) {
    .cover {
        margin-bottom: 33px;
        margin-top: 66px;
    }
}