.place__link {
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding: 0;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .place__link {
        font-size: 18px;
        line-height: 29px;
    }
}