.place {
    display: grid;
    grid-template-areas: "title url" "image paragraph";
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: 148px;
    margin-right: 0;
    grid-template-columns: 460px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1250px) {
    .place {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        margin: 0 0 80px 31px;
    }
}

@media screen and (max-width: 880px) {
    .place {
        grid-template-columns: 340px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 760px) {
    .place {
        grid-template-columns: 320px;
        grid-template-areas: "title" "url" "image" "paragraph";
        margin-left: 0;
        margin-bottom: 58px;
        justify-content: center;
    }
}