.place__website {
    max-width: 426px;
    margin-left: 40px;
    margin-bottom: 49px;
    grid-area: url;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .place__website {
        margin-left: 29px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 880px) {
    .place__website {
        margin-left: 43px;
        margin-bottom: 51px;
    }
}

@media screen and (max-width: 700px) {
    .place__website {
        margin-left: 16px;
        margin-bottom: 28px;
    }
}